# GITHUB VARIABLES
# Selenium test target and application login configuration
BASE_URL="https://example.com"
BROWSER_NAME="chrome"
BROWSER_MODE="headless"
LOGIN_NAME="admin"
LOGIN_EMAIL="admin@example.com"
LOGIN_PASSWORD="password"

# GITHUB SECRETS
# Database connection configuration
DB_HOST="127.0.0.0"
DB_USER="db_user"
DB_PASSWORD="db_password"
DB_NAME="db_name"
DB_PORT=3306